body {
  	font-family: Verdana, Sans-Serif;
	background-color: rgb(250, 249, 250);
 	background-size: auto;
}

h1 {
  
}

#contactInfo {
	border-top: 2px solid #999;
	text-align: center;
	border-bottom: 2px solid #999;
}

img {
	display: block;
 	margin-left: auto;
	margin-right: auto;
	border: 2px solid #999;
	border-radius: 50%;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
	
}

#container {
  width: 800px;
  margin: 40px auto 60px;
}

.nameContainer {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 221px;
	
}

#degree {
	font-weight: bold;
}

.date {
	float: right;
}

.companyName {
	margin-top: 0px;
	margin-bottom: 0px;
}

.positionTitle{
	font-style: italic;
}

