body {
  font-family: Verdana, Sans-Serif;
  background-image: url("paperbackground.png");
  background-size: auto;
}

h1 {
  color: black;
  text-align: center;
  border-bottom: 2px solid #999;
}

#contactInfo {
  text-align: center;
}

img {
  
}

.container {
  width: 800px;
	margin: 40px auto 60px;
}

#dateStartEnd {
  float: right;
}

.profileAndPic {
	
}

